<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ICResponse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ICResponse.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ICResponse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ICResponse.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ICResponse.Properties.Settings>
            <setting name="AgentInsert" serializeAs="String">
                <value>INSERT INTO agents (first, last, email, password) VALUES (?first, ?last, ?email, ?password)</value>
            </setting>
            <setting name="AgentSelectByEmail" serializeAs="String">
                <value>SELECT * FROM agents WHERE email=</value>
            </setting>
            <setting name="CallCurrentIDSelect" serializeAs="String">
                <value>SELECT MAX(uid) FROM calls WHERE tech=</value>
            </setting>
            <setting name="GetDBTime" serializeAs="String">
                <value>SELECT NOW()</value>
            </setting>
            <setting name="GetGroupedCalls" serializeAs="String">
                <value>SELECT tech,AVG(TIME_TO_SEC(TIMEDIFF(stopTime,startTime))) AS TechAverageDuration,COUNT(*) AS NumOfRows FROM calls WHERE date=CURDATE() GROUP BY tech</value>
            </setting>
            <setting name="DeleteCurrentCall" serializeAs="String">
                <value>DELETE FROM calls WHERE ticketID=</value>
            </setting>
            <setting name="SelectColorForAgent" serializeAs="String">
                <value>SELECT color FROM agents WHERE email=@email</value>
            </setting>
            <setting name="TodayCallSelect" serializeAs="String">
                <value>SELECT ticketID, tech, brand, company,contact,phone,email, date, startTime, stopTime, holdtime, duration, issue, resolution, iscase, casenumber, queuename FROM calls WHERE date=CURDATE() ORDER BY ticketID DESC</value>
            </setting>
            <setting name="GetOverallAverageTime" serializeAs="String">
                <value>SELECT AVG(TIME_TO_SEC(TIMEDIFF(stopTime,startTime))) AS OverallAverageDuration FROM calls WHERE date=CURDATE() </value>
            </setting>
            <setting name="GetOverview" serializeAs="String">
                <value>SELECT * FROM acdoverview WHERE name !='John Bartel' AND name !='Michael Olivera' AND name !='Brian Roberts' AND name !='Jason Zandman' AND name NOT LIKE 'ICR%'</value>
            </setting>
            <setting name="GetIdleCallCounts" serializeAs="String">
                <value>SELECT COUNT(*) FROM acdoverview WHERE phone='Idle'  AND name !='John Bartel' AND name !='Michael Olivera' AND name !='Brian Roberts' AND name !='Jason Zandman' AND name NOT LIKE 'ICR%'</value>
            </setting>
            <setting name="GetInCallCounts" serializeAs="String">
                <value>SELECT COUNT(*) FROM acdoverview WHERE phone='In Call'  AND name !='John Bartel' AND name !='Michael Olivera' AND name !='Brian Roberts' AND name !='Jason Zandman' AND name NOT LIKE 'ICR%'</value>
            </setting>
            <setting name="GetTotalDailyCallCount" serializeAs="String">
                <value>SELECT COUNT(*) FROM calls WHERE date=CURDATE()</value>
            </setting>
            <setting name="smtpport" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="smtphost" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="smtpusername" serializeAs="String">
                <value>icresponse.pwreset@gmail.com</value>
            </setting>
            <setting name="smtppassword" serializeAs="String">
                <value>Samurai8</value>
            </setting>
            <setting name="smtpsubjectline" serializeAs="String">
                <value>ICResponse Password Request</value>
            </setting>
            <setting name="smtpmessagebody" serializeAs="String">
                <value>You have requested your current password:</value>
            </setting>
            <setting name="Emailmessageheader" serializeAs="String">
                <value>ICResponse Password Request.</value>
            </setting>
            <setting name="SelectAgentByEmail" serializeAs="String">
                <value>SELECT * FROM agents WHERE email=@email</value>
            </setting>
            <setting name="GetAllCalls" serializeAs="String">
                <value>SELECT ticketID, tech, brand, company,contact,phone,email, date, startTime, stopTime, holdtime, duration, issue, resolution, iscase, casenumber, queuename FROM calls ORDER BY ticketID DESC LIMIT 100</value>
            </setting>
            <setting name="GetVoicemails" serializeAs="String">
                <value>SELECT * FROM voicemails</value>
            </setting>
            <setting name="GetCallVolume" serializeAs="String">
                <value>SELECT startTime,COUNT(*) FROM calls WHERE date=CURDATE() GROUP BY startTime</value>
            </setting>
        </ICResponse.Properties.Settings>
        <ICResponse.Settings>
            <setting name="AgentInsert" serializeAs="String">
                <value>INSERT INTO agents (first, last, email, password) VALUES (?first, ?last, ?email, ?password)</value>
            </setting>
            <setting name="AgentSelectByEmail" serializeAs="String">
                <value>SELECT * FROM agents WHERE email=</value>
            </setting>
            <setting name="CallSelectByTech" serializeAs="String">
                <value>SELECT * FROM calls WHERE tech=</value>
            </setting>
            <setting name="CallRecordInsert" serializeAs="String">
                <value>INSERT INTO calls (tech, company, contact, phone, date, startTime, stopTime, issue, resolution ) VALUES (?tech, ?company, ?contact, ?phone, CURDATE(), CURTIME(), CURTIME(), ?issue, ?resolution)</value>
            </setting>
            <setting name="CallCurrentIDSelect" serializeAs="String">
                <value>SELECT MAX(ticketID) FROM calls WHERE tech=</value>
            </setting>
            <setting name="GetDBTime" serializeAs="String">
                <value>SELECT NOW()</value>
            </setting>
            <setting name="GetGroupedCalls" serializeAs="String">
                <value>SELECT tech,AVG(TIME_TO_SEC(TIMEDIFF(stopTime,startTime))) AS TechAverageDuration,COUNT(*) AS NumOfRows FROM calls WHERE date=CURDATE() GROUP BY tech</value>
            </setting>
            <setting name="DeleteCurrentCall" serializeAs="String">
                <value>DELETE FROM calls WHERE ticketID=</value>
            </setting>
            <setting name="SelectColorForAgent" serializeAs="String">
                <value>SELECT color FROM agents WHERE email=@email</value>
            </setting>
            <setting name="TodayCallSelect" serializeAs="String">
                <value>SELECT * FROM calls WHERE date=CURDATE() ORDER BY ticketID DESC</value>
            </setting>
            <setting name="GetMaxID" serializeAs="String">
                <value>SELECT MAX(id) AS LastRecord FROM agentstats WHERE date=CURRENT_DATE AND  tech=</value>
            </setting>
            <setting name="GetTotalTodayTechs" serializeAs="String">
                <value>SELECT DISTINCT tech FROM agentstats WHERE date=CURDATE() ORDER BY id DESC</value>
            </setting>
            <setting name="GetAgentStatusAndTime" serializeAs="String">
                <value>SELECT status,reason,time FROM agentstats WHERE id=</value>
            </setting>
            <setting name="GetOverallAverageTime" serializeAs="String">
                <value>SELECT AVG(TIME_TO_SEC(TIMEDIFF(stopTime,startTime))) AS OverallAverageDuration FROM calls WHERE date=CURDATE() </value>
            </setting>
            <setting name="GetActiveCalls" serializeAs="String">
                <value>SELECT * FROM activecalls WHERE agentname !='John Bartel' AND agentname !='Michael Olivera' AND agentname !='Brian Roberts' AND agentname !='Jason Zandman' AND agentname NOT LIKE 'ICR%'</value>
            </setting>
            <setting name="GetOverview" serializeAs="String">
                <value>SELECT * FROM acdoverview WHERE name !='John Bartel' AND name !='Michael Olivera' AND name !='Brian Roberts' AND name !='Jason Zandman' AND name NOT LIKE 'ICR%'</value>
            </setting>
            <setting name="GetIdleCallCounts" serializeAs="String">
                <value>SELECT COUNT(*) FROM acdoverview WHERE phone='Idle'  AND name !='John Bartel' AND name !='Michael Olivera' AND name !='Brian Roberts' AND name !='Jason Zandman' AND name NOT LIKE 'ICR%'</value>
            </setting>
            <setting name="GetInCallCounts" serializeAs="String">
                <value>SELECT COUNT(*) FROM acdoverview WHERE phone='In Call'  AND name !='John Bartel' AND name !='Michael Olivera' AND name !='Brian Roberts' AND name !='Jason Zandman' AND name NOT LIKE 'ICR%'</value>
            </setting>
            <setting name="GetTotalDailyCallCount" serializeAs="String">
                <value>SELECT COUNT(*) FROM calls WHERE date=CURDATE()</value>
            </setting>
            <setting name="smtpport" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="smtphost" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="smtpusername" serializeAs="String">
                <value>icresponse.pwreset@gmail.com</value>
            </setting>
            <setting name="smtppassword" serializeAs="String">
                <value>Samurai8</value>
            </setting>
            <setting name="smtpsubjectline" serializeAs="String">
                <value>ICResponse Password Request</value>
            </setting>
            <setting name="smtpmessagebody" serializeAs="String">
                <value>You have requested your current password:</value>
            </setting>
            <setting name="emailmessageheader" serializeAs="String">
                <value>ICResponse Password Request.</value>
            </setting>
            <setting name="SelectAgentByEmail" serializeAs="String">
                <value>SELECT * FROM agents WHERE email=@email</value>
            </setting>
            <setting name="GetAllCalls" serializeAs="String">
                <value>SELECT * FROM calls ORDER BY ticketID DESC LIMIT 100</value>
            </setting>
            <setting name="GetVoicemails" serializeAs="String">
                <value>SELECT * FROM voicemails</value>
            </setting>
        </ICResponse.Settings>
    </applicationSettings>
    <userSettings>
        <ICResponse.Properties.Settings>
            <setting name="LoginPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="AgentID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoginLevel" serializeAs="String">
                <value>logout</value>
            </setting>
            <setting name="DBServer" serializeAs="String">
                <value>192.168.1.163</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>icresponse</value>
            </setting>
            <setting name="DBUser" serializeAs="String">
                <value>remoter</value>
            </setting>
            <setting name="DBPass" serializeAs="String">
                <value>A9m1n</value>
            </setting>
            <setting name="LoginNick" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedFontSize" serializeAs="String">
                <value>large</value>
            </setting>
            <setting name="SelectedAccentColor" serializeAs="String">
                <value>#FFE51400</value>
            </setting>
            <setting name="SelectedThemeSource" serializeAs="String">
                <value>pack://application:,,,/ICResponse;component/Assets/ModernUI.ICRTheme.xaml</value>
            </setting>
            <setting name="SelectedThemeDisplayName" serializeAs="String">
                <value>icrealtime</value>
            </setting>
            <setting name="AgentFirstName" serializeAs="String">
                <value />
            </setting>
            <setting name="AgentLastName" serializeAs="String">
                <value />
            </setting>
            <setting name="InsertCallRecord" serializeAs="String">
                <value>INSERT INTO calls (tech, status, company, contact, phone, email, date, startTime, stopTime, holdtime, duration, brand, issue, resolution, iscase, casenumber) VALUES (?tech, ?status, ?company, ?contact, ?phone, ?email, ?date, ?startTime, ?stopTime, ?holdtime, ?duration, ?brand, ?issue, ?resolution, ?iscase, ?casenumber)</value>
            </setting>
            <setting name="UpdateCallRecord" serializeAs="String">
                <value>UPDATE calls SET company=?company, contact=?contact, phone=?phone, email=?email, brand=?brand, issue=?issue, resolution=?resolution, iscase=?iscase, casenumber=?casenumber WHERE uid=?uid </value>
            </setting>
        </ICResponse.Properties.Settings>
        <ICResponse.Settings>
            <setting name="LoginPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="AgentID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoginLevel" serializeAs="String">
                <value>logout</value>
            </setting>
            <setting name="DBServer" serializeAs="String">
                <value>192.168.1.163</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>icresponse</value>
            </setting>
            <setting name="DBUser" serializeAs="String">
                <value>remoter</value>
            </setting>
            <setting name="DBPass" serializeAs="String">
                <value>A9m1n</value>
            </setting>
            <setting name="LoginNick" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedFontSize" serializeAs="String">
                <value>large</value>
            </setting>
            <setting name="AgentStatus" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedAccentColor" serializeAs="String">
                <value>#FFE51400</value>
            </setting>
            <setting name="SelectedThemeSource" serializeAs="String">
                <value>pack://application:,,,/ICResponse;component/Assets/ModernUI.ICRTheme.xaml</value>
            </setting>
            <setting name="SelectedThemeDisplayName" serializeAs="String">
                <value>icrealtime</value>
            </setting>
            <setting name="ACDUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ACDPassword" serializeAs="String">
                <value />
            </setting>
        </ICResponse.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
